@charset "UTF-8";
/*
  File Structure :
    1.  Reset
    2.  Print
*/


/************************
  1. Reset
************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-weight: bold;
    font-style: italic;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th { padding: 0; }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input {
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
blockquote, q { quotes: none; }
del           { text-decoration: line-through; }
input, select { vertical-align: middle; }
ul, li        { list-style: none; }
article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

img                 { border: 0; }
a                   { background-color: transparent; }
/**                   { outline: none; outline: 0px; }*/
a:active, a:hover   { outline: 0; }
svg:not(:root)      { overflow: hidden; }
body {
    font: 13px/1.38 Arial, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*-webkit-font-smoothing: antialiased;*/
    -webkit-font-smoothing: auto;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
hr {
    box-sizing: content-box;
    height: 0;
}
input { line-height: normal; }
a, label, button, input[type="button"],
input[type="submit"], input[type="image"] {
    margin: 0;
    cursor: pointer;
}
button[disabled], html input[disabled]    { cursor: default; }
input[type="text"], input[type="password"], input[type="textarea"], input[type="search"], input[type=number] { outline: none; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
}
input[type=text], input[type=search], input[type=submit] {
    -webkit-appearance: none;
       -moz-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type=number] { -moz-appearance:textfield; }
p {
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
input::-ms-clear {
    display: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

/************************
  2. Print styles
************************/
@media print {
    * {
        text-shadow: none !important; filter:none !important; -ms-filter: none !important;
      }
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}

